$white: #ffffff;
$blue-dark: #3187e1;

$color-link: #2b80b9;
$color-caution: #aa0000;
$color-component-background: #FDFDFD;
$color-font-base: #333;
$color-font-white: #ccc;

$component-active-background-color: $blue-dark;
$component-active-color: $white
