@import "../variables";

.Editor {
  display: flex;

  &-counter {
    color: #aaa;
    &-exceeded {
      color: $color-caution;
    }
  }

  &-textarea {
    border: 0;
    display: block;
    flex: 1;
    line-height: 1.5;
    outline: none;
    resize: none;
    width: 100%;
  }
}
