@import "../variables";

.Header {
  display: flex;
  background-color: #F1F1F1;
  border-bottom: 1px solid $color-border;
  height: 45px;
  justify-content: center;
  border-left: 1px solid $color-border;
  position: relative;

  line-height: 45px;
  -webkit-app-region: drag;

  &-rightMenu {
    font-size: 2em;
    position: absolute;
    right: 0;
    //  http://kuroko-role.co.jp/css-html/align-center-and-side/
    // https://stackoverflow.com/questions/33444666/how-to-center-align-one-flex-item-and-right-align-another-using-flexbox
  }

  &-search {
    &-box {
      content: "a";
      margin-right: 4px;
      border-radius: 3px;;
      border: solid 1px #ddd;
      font-size: 14px;
      line-height: 14px;
      padding: 4px 8px;
    }

    &-icon {
      color: #ccc;
    }

    &-text-field {
      border: 0;
      color: #666;
      margin-left: 4px;
      width: 160px;

      // reset
      &:focus {
        outline: none;
      }
    }
  }

  &-title {
    color: #666;
    font-size: 18px;
    font-weight: bold;
  }
}
